{% extends 'base.html' %}

{% block title %}Agregar Vehículo{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="text-center" style="max-width: 400px; width: 100%;">
        <h1 class="mb-4">Agregar Vehículo</h1>
        <form method="post" class="p-4 border rounded shadow">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}
